@model IEnumerable<Ornk.Models.Menü>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Yemek_Turu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yemek_Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yemek_Ucreti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Yemek_Turu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yemek_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yemek_Ucreti)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Yemek_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Yemek_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Yemek_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
