@model IEnumerable<Soru.Models.Ogrenci_bilgisi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.İsim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyisim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sınıf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Şube)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numara)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.İsim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyisim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sınıf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Şube)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numara)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
